<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODEa VIP{% block title %}{% endblock %}</title>

    <meta name="description" content="CODEa VIP es una plataforma de educación en tecnología que ofrece cursos y recursos para aprender programación, desarrollo web, diseño gráfico y más.">
    <meta name="keywords" content="CODEa VIP, programación, desarrollo web, diseño gráfico, cursos en línea, aprendizaje en línea, educación en tecnología">
    <meta name="author" content="CODEa VIP">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="google-site-verification" content="1234567890">
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'codea_vip.svg' %}">
    <link rel="icon" type="image/png" href="{% static 'codea_vip.svg' %}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'codea_vip.svg' %}">
    <!-- CSS -->  
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body>

    {% block content %}

    {% endblock %}
        
        
<!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/51999999999" target="_blank"
class="fixed bottom-10 right-6 z-50 bg-green-500 hover:bg-green-600 text-white p-3 rounded-full shadow-lg transition duration-300 ease-in-out"
aria-label="Chatear por WhatsApp">
<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
 <path d="M20.52 3.48A11.93 11.93 0 0 0 12.06.01a12.03 12.03 0 0 0-10.6 17.4L.01 24l6.66-1.74a12 12 0 0 0 5.39 1.35h.01a11.93 11.93 0 0 0 8.44-3.5 11.93 11.93 0 0 0 .01-16.63zm-8.45 17.8h-.01a10.1 10.1 0 0 1-5.15-1.4l-.37-.22-3.95 1.03 1.06-3.85-.25-.39a10.12 10.12 0 0 1 8.57-15.2h.01c2.7 0 5.24 1.05 7.15 2.96a10.08 10.08 0 0 1-.01 14.22 10.11 10.11 0 0 1-7.05 2.85zm5.75-7.58c-.31-.16-1.83-.9-2.12-1s-.49-.16-.7.16-.8 1-1 1.21-.36.23-.67.08a8.3 8.3 0 0 1-2.43-1.5 9.22 9.22 0 0 1-1.7-2.1c-.18-.31-.02-.48.13-.63.13-.13.31-.35.46-.53.16-.18.21-.31.32-.52s.05-.39-.02-.55c-.08-.16-.7-1.7-.95-2.33-.25-.6-.5-.52-.7-.53h-.6c-.21 0-.55.08-.83.39s-1.1 1.08-1.1 2.63 1.12 3.06 1.28 3.27a13.62 13.62 0 0 0 5.06 4.44c.71.3 1.26.48 1.69.61.71.23 1.35.2 1.86.12.57-.08 1.83-.75 2.09-1.48.26-.72.26-1.33.18-1.47s-.29-.23-.6-.39z"/>
</svg>
</a>

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html> 