{% load static %}
<div class="flex rounded-xl py-4 gap-4 items-center justify-center">
  <div class="flex -space-x-4">
    <!-- Avatares (agrega tantos <img> como necesites) -->
    <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-white">
      <img src="{% static 'students.jpg' %}" alt="avatar-1" width="40" height="40" />
    </div>
    <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-white">
      <img src="{% static 'students.jpg' %}" alt="avatar-1" width="40" height="40" />
    </div>
    <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-white">
      <img src="{% static 'students.jpg' %}" alt="avatar-1" width="40" height="40" />
    </div>
    <!-- Agrega más <div> con <img> si tienes más avatares -->
  </div>
  <div class="">

    <div class="flex items-center">
      <span class="text-yellow-400 text-2xl mr-1">★</span>
      <span class="text-yellow-400 text-2xl mr-1">★</span>
      <span class="text-yellow-400 text-2xl mr-1">★</span>
      <span class="text-yellow-400 text-2xl mr-1">★</span>
    </div>
   <span class="text-white font-bold text-base leading-tight">+10 Mil Estudiantes</span>


  </div>
</div>